---
import Layout from '~/layouts/Layout.astro';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <main class="absolute inset-0 flex items-center justify-center">
    <slot />
  </main>
</Layout>
